sentence-transformers==2.2.2
torch==2.2.1
python-dotenv==1.0.0
chainlit
langchain
langchain-openai
langchain-community
sqlite3>=3.35.0
chromadb
literalai
nbconvert
arxiv
pymupdf
langchain-google-genai
